$dudoso-body: #8D241C;
$corn-eye: #441511;
$shadow: #AEB6BF;


body {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.dudoso {
  position: absolute;
  bottom: 100px;
  width: 100px;
  animation-duration: 3s;
  animation-name: slide;
  animation-iteration-count: infinite;
  height: 100px;
  background-color: $dudoso-body;
  border-radius: 40px;
  box-shadow: 25px -80px 1px -45px $corn-eye, //eye
              -25px -80px 1px -45px $corn-eye, //eye
              0px -90px 0px -20px $dudoso-body, //month
              0px -82px 0px -24px $corn-eye, //month
              0px -90px 0px 30px $dudoso-body, //head
              0px -240px 0px 35px white, //corns 
              0px -200px 0px 30px $corn-eye, //corns        
}

div::before {
  display: block;
  content: ".";
  color: $dudoso-body;
  background-color: $dudoso-body;
  position: relative;
  right: 30px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 119px 0px 0px 0px $dudoso-body;
}

div::after {
  display: block;
  content: ".";
  animation-duration: 3s;
  animation-name: shadow;
  animation-iteration-count: infinite;
  background-color: $shadow;
  color: $shadow;
  position: relative;
  top: 80px;
  right: 25px;
  border-radius: 50%;
  width: 150px;
}

@keyframes slide {
  50% {
    bottom: 300px;
  }
}

@keyframes shadow {
  50% {
    transform: scale(1.8) translateY(6rem);
    opacity: 0.2;
  }
}

a {
  text-decoration: none;
  display: block;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: $shadow;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

a:hover {
  font-size: 1.2rem;
  box-shadow: 10px 5px 5px rgb(49, 49, 49);
}