* {  /*сбрасываем стили*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*чтобы элементы не вылазили*/
}

body {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto minmax(500px, auto) auto;
  font-family: sans-serif;
  font-size: 1rem;
  width: 100%; 
  min-height: 100vh;  
}


nav {
  display: grid;
  /* gap: 5%; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
}

header {
  display: grid;
  gap: 3%;
  grid-template-columns: 200px auto;
  align-items: center;
  padding: 1rem;
}

.foto {
  justify-self: center;
}

#imgf {
  width: 10rem;
  border-radius: 50%;
}

main {
  display: grid;
  padding: 1rem;
}

.container {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 1 fr); /* не рпаботает */
  grid-template-areas: 
                      "about skills"
                      "about lang";
}

.about {
  grid-area: about;
}

.skills {
  grid-area: skills;
}

.lang {
  grid-area: lang;
}

.table {
  display: grid;
}

footer {
    background-color: black;
    color: cornsilk;
    padding: 1rem;
}
